<h2>Sign up</h2>

<%= form_for(resource, :as => resource_name, :html => { :multipart => true }  , :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  
  <div><%= f.label :username %><br />
  <%= f.text_field :cc_username, :autofocus => true %></div>

  <div><%= f.label :cc_first_name %><br />
  <%= f.text_field :cc_first_name, :autofocus => true %></div>  

  <div><%= f.label :cc_last_name %><br />
  <%= f.text_field :cc_last_name, :autofocus => true %></div> 

  <div><%= f.label :email %><br />
  <%= f.email_field :email, :autofocus => true %></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>

  <div>
    <%= f.label :main_instrument %><br>
    <%= collection_select(:user, :instrument_id, Instrument.all, :id, :name) %>
  </div>

  <div>
    <%=f.label :upload_your_profile_photo%>
    <%= f.file_field :avatar %>
  </div>
  
  <div><%= f.submit "Sign up" %></div>
<% end %>

<%= render "devise/shared/links" %>
